Flask-CORS~=5.0.1
Flask-Marshmallow~=1.4.0
Flask-RESTful~=0.3.10
gunicorn[gevent]~=25.0.1
waitress~=3.0.1
multidict
schedule~=1.2.2
setuptools~=75.8.2
Jinja2~=3.1.4
requests
nxcore[web] @ git+https://github.com/liberatti/nxcore@v1.0.6-rc